body{
    text-align:center;
    font-family:Arial;
}

input{
    margin:5px;
    padding:5px;
}

button{
    padding:6px;
    margin:5px;
}

table{
    margin:auto;
    margin-top:10px;
    border-collapse:collapse;
}

th, td{
    padding:8px;
}